body {
    background-color: #0B0c10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f4f4f4;
}

.container .header {
    padding: 1em;
    text-align: center;
    border: 1px solid #45A29E;
    border-radius: 0.25rem;
}

.container .header h1 {
    color: #66FCF1
}

.container .header p {
    margin-top: -1em;
    font-size: 14px;
    color: #C5C6C7;
}

/* Spaces for books added */
.container .main {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2em;
    grid-gap: 5px;
    border-radius: 0.5rem;
}

.container .main .book {
    padding: 0.5em 1em;
    border: 1px solid #45A29E;
    border-radius: 0.5rem;
}