body {
    background-color: #0B0c10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f4f4f4;
}

.container .header {
    padding: 1em;
    text-align: center;
    border: 1px solid #45A29E;
    border-radius: 0.25rem;
}

.container .header h1 {
    color: #66FCF1
}

.container .header p {
    margin-top: -1em;
    font-size: 14px;
    color: #C5C6C7;
}

/* Spaces for books added */
.container .main {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2em;
    grid-gap: 5px;
    border-radius: 0.5rem;
}

.container .main .book {
    margin-bottom: 1em;
    padding: 1em 1em;
    border: 1px solid #45A29E;
    border-radius: 0.5rem;
}

.container .main .book p span {
    color: #66FCF1;
    font-weight: bold;
}

.container .main .book > * {
    width: 100%;
    padding: 1rem 0 0.5rem 0;
    margin-bottom: 0.45rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
}

.container .main .book > *:last-child {
    border: none;
}

/* .container .main .book form > * {
    width: 100%;
}

.container .main .book form input {
    padding: 1rem 0;
    margin-bottom: 0.45rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
} */